.chart {
  background: rgba(255, 255, 255, 1);
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 65px;
}

.chart__container {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
    margin-left: -50px;
  }
}
